@import '../../constants.scss';

.element {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  cursor: grab;

  &.-dragging {
    cursor: grabbing;
  }

  &.-board {
    box-shadow: none;
  }

  &-container {
    position: absolute;
  }
}
