.board-tools {
  position: absolute;
  top: 18px;
  left: 20px;

  select {
    background: #fdf7e8;
  }

  button {
    font-size: 12px;
    padding: 10px 14px;
    background: #fdf7e8;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  hr {
    border-color: #c5c0bac7;
    width: 100%;
    border-style: ridge;
    margin: 18px 0 12px;
  }

  &__column {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      padding-right: 20px;
      border-right: 1px solid #c5c0bac7;
    }

    & + & {
      margin-left: 20px;
    }
  }

  &__tool {
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, .75);

    & + & {
      margin-top: 6px;
    }

    &.-no-shadow {
      box-shadow: none;
    }
  }
}
 