@import '../../styles/vars.scss';

.board {
  padding-top: 18px;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: $board-min-width;
  min-height: $board-min-height;

  &__players {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    &::after, &::before {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .3;
      top: 0;
    }

    &::before {
      background-image: url('/images/wallpapper_artemis.jpg');
      left: 0;
      background-position: right center;
    }

    &::after {
      background-image: url('/images/wallpapper_gizeh.jpg');
      right: 0;
      background-position: left bottom;
    }
  }

  &__elements {
    margin-top: 10px;
  }

  &__age-progress-container {
    width: 450px;
    margin: auto;
  }
}