.modal {
  position: absolute;
  top: 275px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fef2d9;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid #333333;
    transform: translate(40%, -45%);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}